.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.body {
  background-color: #FFFFFF;
}

.test-box {
  overflow: hidden;
  height: 100px;
  width: 100px;
  float: left;
  padding: 4px;
}

.test-link {
  height: 100px;
  width: 100px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.test-link:hover {
  -webkit-transition: all 5.0s ease-in;
  -moz-transition: all 5.0s ease-in;
  transition: all 5.0s ease-in;
  transform: scale(1.5);
}

.test-link a {
  overflow: hidden;
  width: auto;
  height: 100%;
}

.test-link a img {
  width: 100%;
}
