.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.git-link {
  height: 64px;
  width: 64px;
  float: left;
  padding: 8px;
  transition: all .2s ease-in-out;
}

.git-link:hover {
  transform: scale(1.25);
}
